.container {
    width: 100vw;
    height: 100vh;

    background-color: #242423;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 50px;
}

.container input {
    width: 150px;
    height: 50px;

    background-color: transparent;

    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 3px solid #F5CB5C;

    font-size: 30px;
    color: #F5CB5C;

    text-align: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ask {
    display: flex;
    align-items: center;

    gap: 25px;
}

.ask p {
    font-size: 30px;
    font-weight: 600;    
    color: #F5CB5C;

    font-family: sans-serif;
}